---
import Layout from "../../layouts/Layout.astro";
import type { Pokemons } from "../../interfaces/pokemons.interface";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";

const title = "Pokemons";
const pokemonsUrl = "https://pokeapi.co/api/v2/pokemon?limit=151";

const response = await fetch(pokemonsUrl);
const { results } = (await response.json()) as Pokemons;
---

<Layout title={title}>
  <main class="flex h-full flex-col items-center gap-y-4 p-12">
    <h1 class="self-start text-3xl font-bold">First Generation of Pokémon</h1>
    <section class="grid grid-cols-2 gap-4 md:grid-cols-4">
      {
        results.map(({ name, url }) => {
          const id = url.split("/").filter(Boolean).pop() || "";

          return <PokemonCard name={name} id={id} />;
        })
      }
    </section>
  </main>
</Layout>
