---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pokédex">
  <main class="flex h-full items-center justify-evenly gap-x-12 p-12">
    <section class="flex flex-col">
      <h1 class="mb-4 text-5xl font-bold">Pokédex</h1>
      <p class="mb-12 text-lg text-pretty text-slate-300">
        Pokédex is a comprehensive database of Pokémon, including their
        abilities, types, and statistics, with a focus on the first generation
        of Pokémon.
      </p>
      <a
        href="/pokemons"
        class="text-md w-fit rounded-lg bg-slate-50 px-6 py-4 font-bold text-slate-800 transition-transform hover:scale-105"
        >Get Started for free</a
      >
    </section>
    <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/6.png"
      alt=""
    />
  </main>
</Layout>
